<!DOCTYPE html>
<html ng-app = "app">
<head>

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js">
    </script>
    <script type="text/javascript" src="js/loanApp.js">
    </script>
    <script type="text/javascript" src="js/controllers/altController.js">
    </script>
    <script type="text/javascript" src="js/controllers/dateController.js">
    </script>
    <script type="text/javascript" src="js/services/CalculateService.js">
    </script>

    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#datepicker" ).datepicker({ dateFormat: "mm/dd/yy" });
        });
    </script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <style type = "text/css">
        .label
        {
            display: inline-block;
            width: 100px;
            color: Black;
            font-size: 12px;
        }

        .ui-datepicker
        {
            background: #CCF5FF;
            border: 1px black;
            color: #333;
            width: 155px;
            position: relative;

        }

        .table-row:nth-of-type(odd) {
            background: #F9FBFB;
            width: 100%;
        }
        .table-row:nth-of-type(even) {
            background: white;
            width: 100%;
        }



        table, tr, td, th
        {
            text-align: center;

        }
        .table-striped
        {
            padding: 10;
        }

        .top-border
        {
            margin-top:4px;
        }

        .well
        {
            background: #FAFFFF;
        }

        /*.table-striped>tbody>tr:nth-child(odd)>td,*/
        /*.table-striped>tbody>tr:nth-child(odd)>th {*/
        /*background-color: #80B2CC;*/
        /*}*/
    </style>

</head>

<body>

<BR>

<div>
<div class="panel panel-info">
    <div class = "panel-heading">
        <H3 align="middle"> Loan Calculator </H3></center>
    </div>
</div>


<div class = "container">

<div ng-controller = "altCtrl" >

<!--<div class="row">-->
<div class = "col-md-4  well" style = "border: 5; border-color:#CCC ">

    <div class = "row top-border">
        <div class = "col-md-6">
            <label class = "label">Account Name </label>
        </div>
        <div class = "col-md-6">
            <input type="text" name="name" ng-model="name">
        </div>
    </div>

    <div class = "row top-border">
        <div class = "col-md-6">
            <label class = "label">Loan Amount </label>
        </div>
        <div class = "col-md-6">
            <input type="text" name="amount" ng-model="amount">
        </div>
    </div>





    <div class = "row top-border">
        <div class = "col-md-6">
            <label class = "label">Interest Rate </label>
        </div>
        <div class = "col-md-6">
            <input type="text" name="rate" ng-model="rate">
        </div>
    </div>








    <div class = "row top-border">
        <div class = "col-md-6">
            <label class = "label">
                Term Length
            </label>
        </div>
        <div class = "col-md-6">
            <input type="text" ng-model = "termLength">
            <br>
        </div>
    </div>

    <div class = "row top-border">
        <div class = "col-md-offset-6 col-md-6">
            <input type = "radio" name = "termType" ng-model = "termType" value="months" style="padding: 2px; margin-left: 2px"/> Months
            <input type = "radio" name = "termType" ng-model = "termType" value="years" style="padding: 2px"/> Years
        </div>
    </div>




    <div ng-show = "express">
        <div class = "row top-border">
            <div class = "col-md-6">
                <label class = "label">Start Date </label>
            </div>
            <div class = "col-md-6">
                <input type="text" datepicker id="datepicker" ng-model="startdate" ng-click="dateChange();">
            </div>
        </div>
        <div class = "row top-border">
            <div class = "col-md-6">
                <label class = "label">Down Payment </label>
            </div>
            <div class = "col-md-6">
                <input type="text" name="downPayment" ng-model="downPayment">
            </div>
        </div>
        <div class = "row top-border">
            <div class = "col-md-6">
                <label class = "label">Interest Type </label>
            </div>
            <div class = "col-md-6">
                <select ng-model="interestType" style="width:100%; border:1px; padding: 5px;">
                    <option value="simple">Simple Interest</option>
                    <option value="compound">Compound Interest</option>
                </select>
            </div>
        </div>

        <div class = "row top-border">
            <div class = "col-md-6">
                <label class = "label"> Year Length
                </label>
            </div>
            <div class = "col-md-6">
                <select ng-model = "yearType" style="width:100%;border:1px; padding: 5px;">
                    <option value="bankyear">360 Days (Bank Year)</option>
                    <option value="fullyear">365 Days </option>
                </select>
            </div>
        </div>
    </div>

    <div class = "row top-border">
        <div class = "col-md-6">
            <label class = "label">Monthly Payment</label>
        </div>
        <div class = "col-md-6">
            <input type="text" ng-model = "totalmonthlypaymentvalue" disabled><BR>
        </div>
    </div>


    <div class = "row top-border">
        <div class =  "col-md-6 col-md-offset-6">
            <button  class="btn btn-info active" ng-click="expressSettings();" style="width:100%;">Advanced Settings
                <span class="glyphicon glyphicon-cog"></span>
            </button>
        </div>
    </div>

    <div class = "row top-border">
        <div class = "col-md-offset-6 col-md-6" >
            <!--<div class = "col-md-3">-->
            <button  class="btn btn-primary active" ng-click="focusChange(); enter(); showme=true;" style="width:50%; text-align: center;">Calculate </button>
            <!--</div>-->
            <!--<div class = "col-md-offset-3 col-md-3">-->
            <button  class="btn btn-default active" ng-click="clear(); showme=false; " style="width:46%; text-align: center;">Reset </button>

            <!--</div>-->
        </div>
    </div>
</div>
<!--</div>-->



<div class="col-md-offset-1 col-md-7 "  ng-show="showme">

    <div  ng-show = "showme">
        <div class="table-row col-md-12">
            <B>

                <div class="col-md-2" style = "text-align: left;">Month</div>
                <div class="col-md-2" style = "text-align: center;" >Monthly Payment</div>
                <div class="col-md-2" style = "text-align: center;">Monthly Interest</div>
                <div class="col-md-2" style = "text-align: center;">Daily Payment</div>
                <div class="col-md-2" style = "text-align: center;">Paid Till Date</div>
                <div class="col-md-2" style = "text-align: center;">  </div>
            </B>
        </div>

        <div class="table-row col-md-12" ng-repeat-start = "month in monthlyInfo">
            <div class=" col-md-2" style = "text-align: left;"> {{month.name}}</div>
            <div class=" col-md-2" style = "text-align: center;"> {{month.monthlyPayment}}</div>
            <div class=" col-md-2" style = "text-align: center;"> {{month.monthlyInterest}}</div>
            <div class=" col-md-2" style = "text-align: center;"> {{month.dailyPayment}}</div>
            <div class=" col-md-2" style = "text-align: center;"> {{month.paidSoFar}}</div>
            <div class=" col-md-2" style = "text-align: center;">
                <button ng-if="month.expanded"
                        ng-click="month.expanded = false"
                        class="btn btn-inverse btn-xs"
                        style = "width: 21px;">

                    <i class="icon-minus">-</i>
                </button>
                <button ng-if="!month.expanded" ng-click="month.expanded = true" class="btn btn-inverse btn-xs">
                    <i class="icon-plus">+</i>
                </button>
            </div>
        </div>
        <div class="table-row col-md-12 " ng-if="month.expanded" ng-repeat-end="">
            <div>
                <B>
                    <div class = "col-md-4" style = "text-align: center;">
                        Date
                    </div>
                    <div class = "col-md-4" style = "text-align: center;">
                        Daily Interest
                    </div>
                    <div class = "col-md-4" style = "text-align: center;">
                        Account Balance
                    </div>
                    <div class="col-md-offset-2">
                    </div>
                </B>
            </div>

            <div ng-repeat = "day in month.days">
                <div class = "col-md-4" style = "text-align: center;">
                    {{day.date}}
                </div>
                <div class = "col-md-4" style = "text-align: center;">
                    {{day.interest}}
                </div>
                <div class = "col-md-4" style = "text-align: center;">
                    {{day.balance}}
                </div>
                <div class="col-md-offset-2">
                </div>



            </div>

        </div>

    </div>
</div>
</div>
</div>
</div>

</body>
</html>

